
/* Root */

.root{
  display: flex;
  flex-direction: column;
  
}

.Outlet{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 20px ;
  
}

.ButtonAppBar{
  padding-top: 2%;

}

/* Top Navigator */

[alt = "facebookLogo"] {
  background-color: white;
  
}

a.MuiButtonBase-root{
  color: aliceblue; /* color de las letras de la AppBar */
}

/* Homepage */
.HomepageCards{
  list-style-type: none;
  height: 50%;
}




#root > div > div.AboutUs > div{
  flex: .3;

}

/* About Us page */
.AboutUs  {
   
    padding-top: 3vh;
    padding-bottom: 1vh;
    list-style-type: none ;
    display: flex;
}

.UnaBox {
  display: flex ;
  
}

.card {
  width: 90%;
  margin-bottom: 2%;
  flex: 2 1 auto ;
}



/* Servicios */

.DivServicios{
  padding-top: 20px;

}
/* Contacto  */
.PaginaContacto{
  text-align: center;
  align-items: center;
  background-color: #ffa726;
}  


/* Footer */
.TextFieldFooter{
  flex: .3;
  align-self: center;
  
}

.TextFieldFooter > *{
  width: 100% ;
  
}

.Mapa{
  flex: .28; 

}

#root > div > form > div.MultilineTextField > button{
  background-color: rgb(148, 125, 125) ;
  font-weight: 600;
  font-style: bold;
  size: medium;
  
}

form.BoxFooter.MuiBox-root{
  display: flex ;
  flex-direction: row;
  background-color: #ffa826e0
  
}

.FooterLinks{
  list-style: none;
  flex: .2;
  
}

div.MultilineTextField{
  display: flex;
  flex-direction: column;
  flex: .35;
  
}

#root > div > form > div.MultilineTextField > div{
  flex: 1.3;
  
}
#root > div > form > div.MultilineTextField > div > div{
  height: 100%;

}

.Videos{
  background-color: blue;
  width: 100%;
}

.FormLogin{
  display: flex;
  flex-direction: column;
  
}

/* Formulario editor cartas */
.editCardForm{
  display: flex ; 
  flex-direction: column;
  
  align-content: center;

}


/* editCardButton */

.editCardButton{
  color: rgb(48, 34, 4);
  
}

.CarouselItemSelected {
  color: #ffa726;
  display: block;
  width: 100%;
  opacity: .75 ;
}

/* CreateArticle */
.CreateArticleBox{
 
  background-color: rgb(196, 252, 252);
  display: 'flex';
  flex-direction: 'column';
  
}
